.item-list {
  background-color: white;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: 20px;
}

.item-header {
  border-bottom: 1px solid #bfbfbf;
}

.item {
  border-bottom: 1px solid #bfbfbf;
  padding: 10px;
}
